language: go
go:
  - 1.8.x
  - 1.9.x
sudo: false
install:
  - go get -v github.com/Masterminds/glide/...
  - glide install
  - go install ./cmd/...
  - go get -v github.com/alecthomas/gometalinter
  - gometalinter --install
script:
  - export PATH=$PATH:$HOME/gopath/bin
  - ./goclean.sh
